{% extends '@Pub/base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
    <div id="app">
        <player-turn></player-turn>
        <request-buttons></request-buttons>
{#        {% for i in 1..9 %}#}
{#            <div id="tile_{{ i }}" class="tile">#}
{#                <a href="game/get-tile/X/{{ ((i - 1) - ((i-1) % 3)) / 3 }},{{ (i - 1) % 3 }}">&nbsp;</a>#}
{#                <a href="game/get-tile/0/{{ ((i - 1) - ((i-1) % 3)) / 3 }},{{ (i - 1) % 3 }}">&nbsp;</a>#}
{#            </div>#}
{#        {% endfor %}#}
    </div>
{% endblock %}
